* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-container {
  width: 39%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.carousel-container:hover #prevBtn {
  display: block;
}
.carousel-container:hover #nextBtn {
  display: block;
}
.carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
}
#prevBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 30px;
  z-index: 10;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: none;
}
#nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  right: 20px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: none;
}
